@import "./sliders.css";

.sliderSection1 {
  width: 100%;
  text-align: center;
  background-color: rgba(3, 62, 90, .3);
  color: #EBEBEB;
  padding-bottom: 10px;
  position: relative;
  top: -200px;
}

.sliderSection2 {
  width: 50%;
  text-align: center;
  background-color: rgba(0, 119, 163, .2);
  color: #666666;
  padding-bottom: 200px;
  position: relative;
  top: -220px;

}

.sliderSection3 {
  width: 50%;
  text-align: center;
  background-color: rgba(235, 235, 235);
  color: #0077A3;
  padding-bottom: 132px;
  position: relative;
  top: -963.5px;
  left: 50%;
}

.section1Title {
  position: relative;
  top: 5px;

}

.section2Title {
  position: relative;
  top: 20px;

}

.section3Title {
  position: relative;
  top: 20px;

}
