@import "./styles/canvas_styles.css";
@import "./styles/slider_styles.css";
@import "./styles/container_styles.css";

.App {
  position: relative;
  text-align: center;
  background-color: rgba(242, 230, 220, .2);
  height: 100%;
  width: 100%;
}

.App-logo {
  height: 80px;
}

.App-header {
  background-color: #EBEBEB;
  height: 40px;
  padding-bottom: 20px;
  padding-top: 5px;
  color: white;
  font: Arial;
  font-weight: bold;
  font-variant: small-caps;
  font-size: 15px;
}

.App-title {
  font-size: 1.5em;
  color: #666666;
  vertical-align: center;

}



.App-intro {
  font-size: large;
}
